@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
.light {
  --color-primary: theme('colors.cyan.500');
  --color-secondary: theme('colors.fuchsia.500');
}

.dark {
  --color-primary: theme('colors.violet.400');
  --color-secondary: theme('colors.teal.400');
}
