@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #__next {
    height: 100%;
  }

  h1 {
    @apply font-display text-2xl font-bold sm:text-4xl;
  }
  h2 {
    @apply font-display text-xl font-bold sm:text-3xl;
  }
  h3 {
    @apply font-display text-lg font-bold sm:text-2xl;
  }
  h4 {
    @apply font-bold sm:text-xl;
  }
}

@layer components {
  :root,
  .light {
    --color-primary-50: theme('colors.cyan.50');
    --color-primary-100: theme('colors.cyan.100');
    --color-primary-200: theme('colors.cyan.200');
    --color-primary-300: theme('colors.cyan.300');
    --color-primary-400: theme('colors.cyan.400');
    --color-primary-500: theme('colors.cyan.500');
    --color-primary-600: theme('colors.cyan.600');
    --color-primary-700: theme('colors.cyan.700');
    --color-primary-800: theme('colors.cyan.800');
    --color-primary-900: theme('colors.cyan.900');
    --color-primary: theme('colors.cyan.500');

    --color-secondary-50: theme('colors.fuchsia.50');
    --color-secondary-100: theme('colors.fuchsia.100');
    --color-secondary-200: theme('colors.fuchsia.200');
    --color-secondary-300: theme('colors.fuchsia.300');
    --color-secondary-400: theme('colors.fuchsia.400');
    --color-secondary-500: theme('colors.fuchsia.500');
    --color-secondary-600: theme('colors.fuchsia.600');
    --color-secondary-700: theme('colors.fuchsia.700');
    --color-secondary-800: theme('colors.fuchsia.800');
    --color-secondary-900: theme('colors.fuchsia.900');
    --color-secondary: theme('colors.fuchsia.500');

    --color-background: theme('colors.neutral.100');
    --color-on-background: theme('colors.neutral.900');
    --color-surface: theme('colors.white');
    --color-on-surface: theme('colors.neutral.900');
  }

  .dark {
    --color-primary-50: theme('colors.violet.50');
    --color-primary-100: theme('colors.violet.100');
    --color-primary-200: theme('colors.violet.200');
    --color-primary-300: theme('colors.violet.300');
    --color-primary-400: theme('colors.violet.400');
    --color-primary-500: theme('colors.violet.500');
    --color-primary-600: theme('colors.violet.600');
    --color-primary-700: theme('colors.violet.700');
    --color-primary-800: theme('colors.violet.800');
    --color-primary-900: theme('colors.violet.900');
    --color-primary: theme('colors.violet.400');

    --color-secondary-50: theme('colors.teal.50');
    --color-secondary-100: theme('colors.teal.100');
    --color-secondary-200: theme('colors.teal.200');
    --color-secondary-300: theme('colors.teal.300');
    --color-secondary-400: theme('colors.teal.400');
    --color-secondary-500: theme('colors.teal.500');
    --color-secondary-600: theme('colors.teal.600');
    --color-secondary-700: theme('colors.teal.700');
    --color-secondary-800: theme('colors.teal.800');
    --color-secondary-900: theme('colors.teal.900');
    --color-secondary: theme('colors.teal.400');

    --color-background: theme('colors.neutral.800');
    --color-on-background: theme('colors.white');
    --color-surface: theme('colors.neutral.900');
    --color-on-surface: theme('colors.white');
  }
}
