@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #__next {
    height: 100%;
  }

  :root,
  .light {
    --color-primary: theme('colors.cyan.500');
    --color-secondary: theme('colors.fuchsia.500');
    --color-background: theme('colors.neutral.100');
    --color-on-background: theme('colors.neutral.900');
    --color-surface: theme('colors.white');
    --color-on-surface: theme('colors.neutral.900');
  }

  .dark {
    --color-primary: theme('colors.violet.400');
    --color-secondary: theme('colors.teal.400');
    --color-background: theme('colors.neutral.800');
    --color-on-background: theme('colors.white');
    --color-surface: theme('colors.neutral.900');
    --color-on-surface: theme('colors.white');
  }
}
