@tailwind components;
@tailwind utilities;

@layer components {
  :root {
    --color-primary: theme('colors.cyan.500');
    --color-secondary: theme('colors.fuchsia.500');
    --color-background: theme('colors.neutral.100');
    --color-on-background: theme('colors.neutral.900');
    --color-surface: theme('colors.white');
    --color-on-surface: theme('colors.neutral.900');
  }

  @screen dark {
    :root {
      --color-primary: theme('colors.violet.400') !important;
      --color-secondary: theme('colors.teal.400') !important;
      --color-background: theme('colors.neutral.800') !important;
      --color-on-background: theme('colors.white') !important;
      --color-surface: theme('colors.neutral.900') !important;
      --color-on-surface: theme('colors.white') !important;
    }
  }
}

@layer utilities {
  .break-word {
    word-break: break-word;
  }
}
