@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
.light {
  --color-background: theme('colors.neutral.50');
  --color-on-background: theme('colors.neutral.800');
}

.dark {
  --color-background: theme('colors.neutral.900');
  --color-on-background: theme('colors.white');
}
